<div class="app-news-edit-form">
    <form [formGroup]="newsEditForm">
        Title:
        <input type="text" placeholder="Enter news title" formControlName="newsTitle" /><br />

        Description:
        <input type="text" placeholder="Enter news description" formControlName="newsDescription" /><br />

        Url:
        <input type="text" placeholder="Enter news url" formControlName="newsUrl" /><br />

        Content:
        <input type="text" placeholder="Enter news content" formControlName="newsContent" /><br />

        <button type="submit"></button>
    </form>
</div>